:root {

    /* Main */
    --color-header-bg: #000000;
    --color-fg-default: #adbac7;
    --color-canvas-default: #22272e;
    --color-header-text: #adbac7;

    /* Buttons */
    --color-btn-primary-text: #FFFFFF;
    --color-btn-primary-bg: #30a4dc;
    --color-btn-primary-border: #30a4dc;
    --color-btn-primary-hover-text: #FFFFFF;
    --color-btn-primary-hover-bg: #30a4dc;
    --color-btn-primary-hover-border: #30a4dc;

    --color-btn-text: #FFFFFF;
    --color-btn-bg: #373e47;
    --color-btn-border: #373e47;
    --color-btn-hover-text: #FFFFFF;
    --color-btn-hover-bg: #444c56;
    --color-btn-hover-border: #444c56;

}