/* src/pages/echomail/Row.css */
.rowContainer {
  cursor: pointer;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #AAA;
}
.rowActive {
  background-color: rgb(128, 0, 0);
}
.row:hover {
  background: #000088;
}

/* src/pages/echomail/EchoIndex.css */
.rowMarker {
  width: 20px;
  height: 38px;
  flex-shrink: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: yellow;
}
.rowSummary {
  min-width: 350px;
  height: 38px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rowMessageCount {
  height: 38px;
  width: 160px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.rowMessageNewCount {
  height: 38px;
  width: 160px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.rowName {
  margin-left: 16px;
  width: 190px;
  height: 38px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* src/common/Header.css */
.Header {
  background-color: var(--color-header-bg);
  color: var(--color-header-text);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.HeaderGroup {
  display: flex;
  flex-flow: row;
}
.HeaderItem {
  font-weight: 600;
  font-family: monospace;
  font-size: 16pt;
  padding: 0 4px;
}
.HeaderIcon {
  -border: 1px solid yellow;
}
.Header a {
  color: var(--color-header-text);
}
.Header a:hover {
  color: var(--color-header-text);
  opacity: 0.75;
}
.Icon {
  height: 48px;
  width: 48px;
}

/* src/pages/echomail/EchoMsgIndex.css */
.rowUserpic {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  border-radius: 50%;
  overflow: hidden;
}
.rowFrom {
  width: 190px;
  height: 38px;
  flex-shrink: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.rowMarker {
  width: 20px;
  height: 38px;
  flex-shrink: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: yellow;
}
.rowSubject {
  min-width: 350px;
  height: 38px;
  flex-grow: 1;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rowDate {
  height: 38px;
  width: 180px;
  flex-shrink: 0;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* src/pages/echomail/Message.css */
.messageLine {
  min-height: 14pt;
}
.rowQuote {
  padding-left: 16px;
}
.rowRed {
  color: red;
}
.rowGreen {
  color: green;
}

/* src/themes/custom.css */
body {
  font-family:
    "Fira Mono",
    "DejaVu Sans Mono",
    Menlo,
    Consolas,
    "Liberation Mono",
    Monaco,
    "Lucida Console",
    monospace;
  font-size: 14pt;
  margin: 0;
  padding: 0;
  background-color: var(--color-canvas-default);
  color: var(--color-fg-default);
}
a {
  text-decoration: none;
}
input {
  font-family:
    "Fira Mono",
    "DejaVu Sans Mono",
    Menlo,
    Consolas,
    "Liberation Mono",
    Monaco,
    "Lucida Console",
    monospace;
  border: 1px solid #808080;
  background-color: #000000;
  color: #C0C0C0;
  font-size: 19px;
  width: 100%;
}
textarea {
  font-family:
    "Fira Mono",
    "DejaVu Sans Mono",
    Menlo,
    Consolas,
    "Liberation Mono",
    Monaco,
    "Lucida Console",
    monospace;
  border: 1px solid #808080;
  background-color: #000000;
  color: #C0C0C0;
  font-size: 19px;
  width: 100%;
  height: 320px;
}
.pre-wrap {
  white-space: pre-wrap;
}
.container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
.container.limit-width {
  max-width: 980px;
}
.stretch {
  width: 100%;
}
.btn-primary:hover {
  color: var(--color-btn-primary-hover-text);
  background-color: var(--color-btn-primary-hover-bg);
  border-color: var(--color-btn-primary-hover-border);
}
.btn-primary {
  color: var(--color-btn-primary-text);
  background-color: var(--color-btn-primary-bg);
  border-color: var(--color-btn-primary-border);
}
.btn:visited {
  color: var(--color-btn-text);
  background-color: var(--color-btn-bg);
  border-color: var(--color-btn-border);
}
.btn:hover {
  color: var(--color-btn-hover-text);
  background-color: var(--color-btn-hover-bg);
  border-color: var(--color-btn-hover-border);
}
.btn {
  color: var(--color-btn-text);
  background-color: var(--color-btn-bg);
  border-color: var(--color-btn-border);
  padding: 8px 16px;
  white-space: nowrap;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 1px solid;
  border-radius: 6px;
}
span.badge {
  display: inline-block;
  min-width: 1.5em;
  background-color: #999999;
  color: #fff;
  padding: 0.2em 0.5em;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 0;
  text-transform: none;
  text-align: center;
}
span.badge.accent {
  background-color: #30a4dc;
}
span.badge.okay {
  background-color: #b2cf65;
}
span.badge.warning {
  background-color: #ffc445;
}
span.badge.danger {
  background-color: #f05a67;
}
span.badge.white {
  background-color: #ffffff;
  color: #333;
}
span.badge.white.accent {
  color: #30a4dc;
}
span.badge.white.okay {
  color: #b2cf65;
}
span.badge.white.warning {
  color: #ffc445;
}
span.badge.white.danger {
  color: #f05a67;
}
.actions {
  display: flex;
  flex-direction: row;
}
.actions .action {
  display: flex;
  width: 64px;
  height: 64px;
}
.table {
  display: table;
  width: 100%;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
  padding: 10px;
}
.table-row:hover {
  background-color: #0000C0;
}
span.hidden {
  display: none;
}
.direct-index-items {
  border-spacing: 0 8px;
  width: 100%;
}
.direct-index-items td {
  padding: 4px;
}
.direct-index-header {
  background-color: #646464;
}
.echo-index-items td {
  padding: 4px;
}
.echo-index-item {
  color: #AAAAAA;
}
.echo-index-item-new {
  font-weight: bold;
}
.echo-index-item:hover {
  background-color: #0000AA;
}
.echo-index-item-new:hover {
  background-color: #0000AA;
}
.echo-index-header-count {
  text-align: right;
}
.echo-index-item-count {
  text-align: right;
}
.echo-index-item-count-new {
  text-align: right;
}
.echomail-text {
  background-color: #000000;
  color: #C0C0C0;
}
.welcome-img {
  margin: 0 auto;
  display: block;
  padding: 64px 0;
}
.welcome-header {
  color: #883;
  text-decoration: underline;
  text-align: center;
  font-size: 26pt;
}
.welcome-version {
  text-align: center;
}
.welcome-contributor-header {
  color: #388;
  text-decoration: underline;
  text-align: center;
  font-size: 23pt;
}
.welcome-contributor-list {
  text-align: center;
}
.welcome-source {
  color: #838;
  text-decoration: underline;
  text-align: center;
  font-size: 23pt;
}
.welcome-source-link {
  display: block;
  text-align: center;
}
.welcome-community {
  color: #383;
  text-decoration: underline;
  text-align: center;
  font-size: 23pt;
}
.welcome-community-link {
  display: block;
  text-align: center;
}
.echo-index-table {
  width: 100%;
}
.echo-index-header {
  background-color: #666666;
}
.echo-msg-index-table {
  width: 100%;
}
.echo-msg-index-header {
  background-color: #666666;
}
.echo-msg-index-date {
  text-align: right;
  font-size: 12pt;
  white-space: nowrap;
}
.echo-msg-index-item {
  color: #808080;
}
.echo-msg-index-item:hover {
  background-color: #0000AA;
}
.echo-msg-index-item-new {
  font-weight: bold;
}
.echo-msg-view-header-wrapper {
  border-top: 2px solid #338;
  border-bottom: 2px solid #338;
  width: 100%;
  padding: 8px 0;
}
.echo-msg-view-header {
  padding-bottom: 4px;
}
.echo-msg-view-header-name {
  color: #888833;
  font-weight: bold;
  text-align: right;
  padding-right: 4px;
}
.echo-msg-view-header-value {
  padding-left: 4px;
}
.echo-msg-view-body-wrapper {
}
.echo-msg-view-body {
  margin-top: 10px;
  flex-shrink: 0;
  flex-grow: 0;
  white-space: pre-wrap;
  font-family: "Courier New", monospace;
  line-height: 1.0;
}
.echo-msg-dump-preview {
  white-space: pre;
}
.netmail-index-table {
  width: 100%;
}
.netmail-index-item {
  color: #808080;
}
.netmail-index-item:hover {
  background-color: #0000AA;
}
.netmail-index-item-new {
  font-weight: bold;
}
.netmail-msg-view-header-wrapper {
  border-top: 2px solid #833;
  border-bottom: 2px solid #833;
  width: 100%;
  padding: 8px 0;
}
.netmail-msg-view-header {
  padding-bottom: 4px;
}
.netmail-msg-view-header-name {
  color: #883;
  font-weight: bold;
  text-align: right;
  padding-right: 4px;
}
.netmail-msg-view-header-value {
  padding-left: 4px;
}
.netmail-msg-view-body-wrapper {
}
.netmail-msg-view-body {
  margin-top: 10px;
  flex-shrink: 0;
  flex-grow: 0;
  white-space: pre-wrap;
  font-family: "Courier New", monospace;
  line-height: 1.0;
}
.file-index-table {
  width: 100%;
}
.file-index-header {
  background-color: #666666;
}
.file-area-index-table {
  width: 100%;
}
.file-area-index-item {
  color: #666666;
}
.file-area-index-item-new {
  color: #ffc445;
}
.file-area-index-item-missing {
  color: #f05a67;
}
.file-area-view-item-new {
  color: #666666;
}
.file-area-view-item-new {
  color: #ffc445;
}
.service-index {
  width: 100%;
}
.service-index-item {
  color: #808080;
}
.service-index-item:hover {
  background-color: #0000AA;
}
.stat-index-table {
  width: 100%;
}
.stat-index-header {
  background-color: #666666;
}
.twit-index-table {
  width: 100%;
}
.twit-index-header {
  background-color: #666666;
}
.draft-index-table {
  width: 100%;
}
.draft-index-header {
  background-color: #666666;
}
.ml-2 {
  margin-left: 8px;
}
.mr-2 {
  margin-right: 8px;
}

/* src/themes/theme_black.css */
:root {
  --color-header-bg: #000000;
  --color-fg-default: #adbac7;
  --color-canvas-default: #151515;
  --color-header-text: #adbac7;
  --color-btn-primary-text: #FFFFFF;
  --color-btn-primary-bg: #30a4dc;
  --color-btn-primary-border: #30a4dc;
  --color-btn-primary-hover-text: #FFFFFF;
  --color-btn-primary-hover-bg: #30a4dc;
  --color-btn-primary-hover-border: #30a4dc;
  --color-btn-text: #FFFFFF;
  --color-btn-bg: #373e47;
  --color-btn-border: #373e47;
  --color-btn-hover-text: #FFFFFF;
  --color-btn-hover-bg: #444c56;
  --color-btn-hover-border: #444c56;
}
