# MacOS settings
.DS_Store

# IDE options
.idea

# Logs
*.log

# Golang
go.sum

# Output directory
package

# Binary output
golden-linux-amd64
golden-windows-386.exe
golden-windows-amd64.exe
golden-darwin-amd64

# Fido storage
*.tic
*.zip
*.pkt
*.mo?
*.su?
*.sa?
