# MacOS settings
.DS_Store

# IDE options
.idea

# Logs
*.log

# Debian package
*.deb

# Golang
go.sum

# Output directory
package

# Binary output
golden-linux-amd64
golden-darwin-amd64

# Developer version binary output
golden

# Fido storage
*.tic
*.zip
*.pkt
*.mo?
*.su?
*.sa?
