

{{ define "content" }}

<div class="row">

    <div class="col-12 main">

{{ template "actions" . }}

        <div class="table" width="100%">
{{ range $area := .Areas }}
            <a class="table-row" href="/echo/{{ $area.Name }}" style="color: white">
                <div class="table-cell">{{ $area.Name }}</div>
                <div class="table-cell">{{ $area.Summary }}</div>
                <div class="table-cell" style="text-align: right">
{{ if $area.NewMessageCount }}
                        <span style="font-weight: bold">{{ $area.NewMessageCount }}</span>
                        <span> / </span>
{{ end }}
                        <span class="">{{ $area.MessageCount }}</span>
                </div>
            </a>
{{ end }}
        </div>

    </div>

{{ end }}
