

{{ define "content" }}

<div class="row">

    <div class="col-12 main">

        <h1>Setup {{ .Area.Name }}</h1>

        <form action="/echo/{{ .Area.Name }}/update/complete" method="post">

        <input type="text" name="summary" value="{{ .Area.Summary }}">

        <button>Save</button>

        </form>

    </div>

</div>

{{ end }}