
{{ define "content" }}

<div class="row">

    <div class="col-12 main">

{{ template "actions" . }}

        <div class="msg-header" style="border-bottom: 1px solid blue">
            <div class="row">
                <div>From:</div>
                <div>{{ .Msg.From }}</div>
            </div>
            <div class="row">
                <div>To:</div>
                <div>{{ .Msg.To }}</div>
            </div>
            <div class="row">
                <div>Subject:</div>
                <div>{{ .Msg.Subject }}</div>
            </div>
        </div>

        <div class="message-preview">

{{ .Content }}

        </div>
    </div>

</div>

{{ end }}
