
{{ define "content" }}

<h1>Create message</h1>

<div class="compose">

    <form action="/echo/{{ .Area.Name }}/message/compose/complete" method="post">

    <input type="hidden" name="msgid" value="">

    <div>
        <div>To:</div>
        <div><input type="text" value="" name="to">
    </div>

    <div>
        <div>Subject:</div>
        <div><input type="text" value="" name="subject">
    </div>

    <div>
        <textarea name="body"></textarea>
    </div>

    <div>
        <button type="submit">Compose</button>
    </div>

    </form>

</div>

{{ end }}
