

{{ define "content" }}

<div class="row">

    <div class="col-12 main">

        <div class="table">
{{ range .Areas }}
            <a class="table-row" href="/echo/{{ .Name }}">
                <div class="table-cell">{{ .Name }}</div>
                <div class="table-cell">{{ .Summary }}</div>
                <div class="table-cell">
{{ if .NewMessageCount }}
                    <span class="message-item-new">{{ .NewMessageCount }}</span>
{{ end }}
                </div>
                <div class="table-cell">
                    {{ .MessageCount }}
                </div>
            </a>
{{ end }}
        </div>

    </div>

{{ end }}
