
{{ define "content" }}

<div class="container">
    <div class="arealist-items">
{{ range .Areas }}
<a class="arealist-item-wrap" href="/echo/{{ .Name }}">
        <div class="arealist-item">
            <div class="arealist-item-echoid">{{ .Name }}</div>
            <div class="arealist-item-count">{{ .MessageCount }}</div>
        </div>
</a>
{{ end }}
    </div>
    <div class="main">

        <h1>{{ .Area.Name }}</h1>

        <table width="100%">
            <tbody>
{{ range $msgHeader := .Headers }}
                <tr class="message-item">
                    <td class="message-header-netaddr">{{ $msgHeader.From }}</td>
                    <td class="message-header-netaddr">{{ $msgHeader.To }}</td>
                    <td class="message-header-subject">
                        <a class="message-item-wrap" href="/echo/{{ $.Area.Name }}/message/{{ $msgHeader.Hash }}/view">
                            <span>{{ $msgHeader.Subject }}</span>
                        </a>
                    </td>
                    <td class="message-header-date">{{ $msgHeader.DateWritten }}</td>
                    <td class="message-header-actions">
                        <a href="/echo/{{ $.Area.Name }}/message/{{ $msgHeader.Hash }}/remove">Remove</a>
                    </td>
                </tr>
{{ end }}
            </tbody>
        </table>

    </div>
</div>

{{ end }}
