

{{ define "content" }}

<div class="row">

    <div class="col-12 main">

        <h1>{{ .Area.Name }}</h1>

        <div class="table">
{{ range $msgHeader := .Headers }}
            <a class="table-row" href="/echo/{{ $.Area.Name }}/message/{{ $msgHeader.Hash }}/view">

{{ if $msgHeader.ViewCount }}
                <div class="message-item">
{{ else }}
                <div class="message-item message-item-new">
{{ end }}

                    <div class="table-cell message-header-netaddr">{{ $msgHeader.From }}</div>
                    <div class="table-cell message-header-netaddr">{{ $msgHeader.To }}</div>
                    <div class="table-cell message-header-subject">
                        <b class="message-item-wrap" href="/echo/{{ $.Area.Name }}/message/{{ $msgHeader.Hash }}/view">
{{ if $msgHeader.Subject }}
                            <span>{{ $msgHeader.Subject }}</span>
{{ else }}
                            <span>-empty-</span>
{{ end }}
                        </b>
                    </div>
                    <div class="table-cell message-header-date">{{ $msgHeader.DateWritten }}</div>
                </div>
            </a>
{{ end }}
        </div>

    </div>

{{ end }}
