

{{ define "content" }}

<div class="row">

    <div class="col-12 main">

        <div class="table" width="100%">
{{ range $area := .Areas }}
            <a class="table-row" href="/file/{{ $area.Name }}" style="color: white">
                <div class="table-cell">{{ $area.Name }}</div>
                <div class="table-cell">{{ $area.Summary }}</div>
                <div class="table-cell" style="text-align: right">
                    <span>{{ $area.Count }}</span>
                </div>
            </a>
{{ end }}
        </div>

    </div>

</div>

{{ end }}
