

{{ define "content" }}

<div class="row">

    <div class="col-12 main">

        <table width="100%">
{{ range .Areas }}
            <tr>
                <td><a href="/echo/{{ .Name }}">{{ .Name }}</a></td>
                <td>{{ .Summary }}</td>
                <td>{{ .MessageCount }}</td>
            </tr>
{{ end }}
        </table>

    </div>

{{ end }}
