

{{ define "content" }}

<div class="row">

    <div class="col-12 main">

        <div class="table">
{{ range .Areas }}
            <a class="table-row" href="/file/{{ .Name }}">
                <div class="table-cell">{{ .Name }}</div>
                <div class="table-cell">{{ .Summary }}</div>
            </a>
{{ end }}
        </div>

    </div>

</div>

{{ end }}
