
{{ define "content" }}

<div class="row">

    <div class="col-12 main">

        <div class="table">
{{ range .Files }}
            <a class="table-row" href="#/file/#/file/{{ .File }}/download">
                <div class="table-cell">{{ .File }}</div>
                <div class="table-cell">{{ .Desc }}</div>
                <div class="table-cell message-header-date">{{ .DateWritten }}</div>
            </a>
{{ end }}
        </div>

    </div>

</div>

{{ end }}
