
{{ define "content" }}

<div class="row">

    <div class="col-12 main">

        <div class="table">
{{ range $areaFile := .Files }}
            <a class="table-row" href="/file/{{ $.Area.Name }}/tic/{{ $areaFile.File }}/view">
                <div class="table-cell">{{ $areaFile.File }}</div>
                <div class="table-cell">{{ $areaFile.Desc }}</div>
                <div class="table-cell message-header-date">{{ $areaFile.Age }}</div>
            </a>
{{ end }}
        </div>

    </div>

</div>

{{ end }}
