{{define "layout"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inbox</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/inbox.css">
    <style>

* {
	-border: 1px solid red;
}

body {
    background-color: #000000;
    color: #AAAAAA;
    font-family: monospace;
    font-size: 19px;
}
a {
    text-decoration: none;
}

.container {
    width: 100%;
    display: flex;
}

.arealist-items {
    flex-basis: 20%;
    flex-shrink: 0;
}
.main {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    flex-shrink: 0;
    flex-grow: 0;
    height: 100%;
}

.message-header-items {
    flex-basis: 50vh;
    flex-shrink: 0;
    flex-grow: 0;
    overflow-y: scroll;
}
.message-preview {
    flex-shrink: 0;
    flex-grow: 0;
    white-space: pre-wrap;
}

.message-input-area {
    border: 1px solid #808080;
    background-color: #000000;
    color: #C0C0C0;
    font-family: monospace;
    font-size: 19px;
}

.arealist-item:hover {
    background-color: #0000AA;
}
.arealist-header {
    display: flex;
    color: #AAAA00;
    flex-basis: 100%;
}
.arealist-header-index {
    flex-basis: 64px;
}
.arealist-header-summary {
    flex-grow: 1;
}
.arealist-header-count {
    flex-basis: 64px;
    text-align: right;
}
.arealist-header-new {
    flex-basis: 64px;
    text-align: right;
}
.arealist-header-echoid {
    flex-basis: 256px;
}
.arealist-item {
    display: flex;
    color: #AAAAAA;
    flex-basis: 100%;
}
.arealist-item-index {
    flex-basis: 64px;
}
.arealist-item-summary {
    flex-grow: 1;
}
.arealist-item-count {
    flex-basis: 64px;
    text-align: right;
}
.arealist-item-new {
    flex-basis: 64px;
    text-align: right;
}
.arealist-item-echoid {
    flex-basis: 256px;
}

a.message-item-wrap:hover {
    color: #FFFFFF;
}
a.message-item-wrap:visited {
    color: #555555;
}
a.message-item-wrap {
    color: #AAAAAA;
}
.message-item-wrap {
}
.message-item {
    display: flex;
}
.message-item:hover {
    background-color: #0000AA;

}
.message-header-netaddr {
    flex-basis: 256px;
    flex-shrink: 0;
}
.message-header-subject {
    flex-grow: 1;
    flex-basis: 256px;
}

.message-header {
    display: flex;
}
.message-header-item {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
.message-header-item-property {
    display: flex;
}
.message-header-item-property-name {
    flex-basis: 25%;
}
.message-header-item-property-value {
    flex-grow: 1;
    flex-basis: 25%;
}

    </style>
</head>
<body>

{{ template "content" . }}

</body>
</html>
{{ end }}
