{{ define "actions" }}
    <div class="actions">

{{ range $action := .Actions }}
	<div class="action-cover">
	    <a href="{{ $action.Link }}" class="btn">
            <span>{{ $action.Label }}</span>
	    </a>
	</div>
{{ end }}

    </div>
{{ end }}

{{ define "menu" }}
<div class="panel">
    <div class="tab-group">
{{ range $menuItem := .Menus }}
        <a class="nav-link" href="{{ $menuItem.Link }}">
            <div class="tab">
                <span class="tab-label">{{ $menuItem.Label }}</span>
            </div>
        </a>
{{ end }}
        <div class="nav-link" style="margin-left: auto">
            <div class="tab" id="clock">
            </div>
        </div>
    </div>
</div>
{{ end }}

{{define "layout"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Golden Point</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/custom.js"></script>
</head>
<body class="dark">

{{ template "menu" . }}

<div class="container">
{{ template "content" . }}
</div>

</body>
</html>
{{ end }}
