
{{ define "content" }}

<h1>Create netmail message</h1>

<div class="compose">

    <form action="/netmail/compose/complete" method="post">

    <div>
        <div>To name:</div>
        <div><input type="text" value="" name="to" placeholder="Vitold Sedyshev">
    </div>

    <div>
        <div>To address:</div>
        <div><input type="text" value="" name="to_addr" placeholder="2:5023/24.3752">
    </div>

    <div>
        <div>Subject:</div>
        <div><input type="text" value="" name="subject">
    </div>

    <div>
        <textarea name="body"></textarea>
    </div>

    <div>
        <button type="submit">Send</button>
    </div>

    </form>

</div>

{{ end }}
