
{{ define "content" }}

<div class="row">

    <div class="col-12 main">

        <h1>{{ .Area.Name }}</h1>

        <table width="100%">
            <tbody>
{{ range $msgHeader := .Headers }}
{{ if $msgHeader.ViewCount }}
                <tr class="message-item">
{{ else }}
                <tr class="message-item message-item-new">
{{ end }}
                    <td class="message-header-netaddr">{{ $msgHeader.From }}</td>
                    <td class="message-header-netaddr">{{ $msgHeader.To }}</td>
                    <td class="message-header-subject">
                        <a class="message-item-wrap" href="/echo/{{ $.Area.Name }}/message/{{ $msgHeader.Hash }}/view">
{{ if $msgHeader.Subject }}
                            <span>{{ $msgHeader.Subject }}</span>
{{ else }}
                            <span>-empty-</span>
{{ end }}
                        </a>
                    </td>
                    <td class="message-header-date">{{ $msgHeader.DateWritten }}</td>
                </tr>
{{ end }}
            </tbody>
        </table>

    </div>

{{ end }}
