
{{ define "content" }}

    <div class="main">

        <h1>Delete message?</h1>

        <form method="post" action="/echo/{{ .Area.Name }}/message/{{ .Msg.Hash }}/remove/complete">

            <p>{{ .Msg.Subject }}</p>

            <p>A you sure?</p>

            <button type="submit" class="btn btn-primary">Yes</button>

        </form>

    </div>

{{ end }}
