
{{ define "content" }}

<div class="row">

    <div class="col-12 main">

        <h1>Start new instance of mailer service?</h1>

        <form method="post" action="/service/complete">
            <button>Start</button>
        </form>

    </div>

{{ end }}
