
{{ define "content" }}

<div class="row">

    <div class="col-12 main">

        <h1>Services</h1>

        <div class="services">

            <div class="service-item" data-service-id="MailerService">
                <span class="service-status">-</span>
                <span class="service-start">Start</span>
                <span class="service-stop">Stop</span>
                <span>Mailer Service</span>
            </div>

        </div>

    </div>

</div>

{{ end }}
