
{{ define "content" }}

<div class="row">

    <h1>Services</h1>

    <table class="table" width="100%">
{{ range $service := .Services }}
        <tr>
            <td>
                <div data-service="{{ $service.Class }}" class="service-start btn">
                    Start
                </div>
            </td>
            <td>
                <span>{{ $service.Label }}</span>
            </td>
            <td>
                <span></span>
            </td>
        </tr>
{{ end }}
    </table>

</div>

{{ end }}
