
{{ define "content" }}

<h1>Setup params</h1>

<form method="post" action="/setup/complete">

{{ range .Params }}
<div class="row">
    <div>{{ .Name }}</div>
    <div><input type="text" class="input" name="{{ .Name }}" value="{{ .Value }}"></div>
    <div>{{ .Summary }}</div>
</div>
{{ end }}

    <button class="btn btn-primary">Save</button>

</form>

{{ end }}