
{{ define "content" }}

<div class="row">

    <div class="col-12 main">

        <h1>Statistics</h1>

        <div>
            <img src="/stat/image" width="640" height="480" alt="Daily statistics" />
        </div>

        <div class="table">
            <div class="table-row">
                <div class="table-cell">Name</div>
                <div class="table-cell" style="text-align: right">Value</div>
            </div>
{{ range $name, $value := .Status }}
            <div class="table-row">
                <div class="table-cell">{{ $name }}</div>
                <div class="table-cell" style="text-align: right">{{ $value }}</div>
            </div>
{{ end }}
        </div>

    </div>

</div>

{{ end }}