
{{ define "content" }}

<div class="container">
    <div class="arealist-items">
{{ range .Areas }}
        <a class="arealist-item-wrap" href="/echo/{{ .Name }}">
            <div class="arealist-item">
                <div class="arealist-item-echoid">{{ .Name }}</div>
                <div class="arealist-item-count">{{ .MessageCount }}</div>
            </div>
        </a>
{{ end }}
    </div>
    <div class="main">
        <div class="message-header-items">

            <h1>{{ .Area.Name }}</h1>

{{ range $msgHeader := .Headers }}
            <a class="message-item-wrap" href="/echo/{{ $.Area.Name }}/view/{{ $msgHeader.Hash }}" data-id="{{ $msgHeader.ID }}">
                <div class="message-item">
                    <div class="message-header-netaddr">{{ $msgHeader.From }}</div>
                    <div class="message-header-netaddr">{{ $msgHeader.To }}</div>
                    <div class="message-header-subject">{{ $msgHeader.Subject }}</div>
                    <div>{{ $msgHeader.DateWritten }}</div>
                </div>
            </a>
{{ end }}

        </div>
        <div class="message-preview">

{{ .Content }}

        </div>
    </div>
</div>

{{ end }}
