
{{ define "content" }}

    <div>
        <img src="/static/img/fido.gif">
    </div>

{{ range .Areas }}
    <div>
        <a href="/echo/{{ .Name }}" class="btn btn-warning">
            <span class="">Работа с сообщениями {{ .Name }}</span>
        </a>
    </div>
{{ end }}

    <div>
        <a href="/filebox" class="btn btn-warning">
            <span class="">Работа с файлами</span>
        </a>
    </div>

    <div>
        <a href="/setup" class="btn btn-warning">
            <span class="">Настройки</span>
        </a>
    </div>


{{ end }}
