
{{ define "content" }}

<div class="container">
    <div class="arealist-items">
{{ range .Areas }}
<a class="arealist-item-wrap" href="/echo/{{ .Name }}">
        <div class="arealist-item">
            <div class="arealist-item-echoid">{{ .Name }}</div>
            <div class="arealist-item-count">{{ .MessageCount }}</div>
        </div>
</a>
{{ end }}
    </div>
    <div class="main">
    <div class="message-header-items">
    </div>
    <div class="message-preview">
    </div>
    </div>
</div>

{{ end }}
