
/* Убираем лишние отступы у браузера */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Запрещаем общий скролл */
}

.Container {
    display: flex;
    flex-direction: column; /* Элементы друг под другом */
    height: 100vh;          /* Ровно на весь экран */
}

.Header {
    flex: 0 0 auto;        /* Не сжимается, не растет */
    background: #4900b6;
    color: #C0C0C0;
    padding: 10px;
}

.Main {
    flex: 1 1 auto;        /* Занимает ВСЁ свободное пространство */
    overflow-y: auto;      /* Прокрутка только здесь! */
    background: #000;
}

.Page {
    padding: 16px;
}

.Status {
    flex: 0 0 auto;        /* Всегда снизу, фиксированная высота */
    background: #4900b6;
    color: #C0C0C0;
    padding: 5px;
    font-size: 0.9em;
}

.StatusBar {
    display: flex;
    justify-content: space-between;
}

.StatusBar-Start {
    text-align: left;
}

.StatusBar-End {
    text-align: right;
}