
body {
    font-family: "Fira Mono", "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace;
    font-size: 14pt;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input {
    font-family: "Fira Mono", "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace;
    border: 1px solid #808080;
    background-color: #000000;
    color: #C0C0C0;
    font-size: 19px;
    width: 100%;
}

textarea {
    font-family: "Fira Mono", "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace;
    border: 1px solid #808080;
    background-color: #000000;
    color: #C0C0C0;
    font-size: 19px;
    width: 100%;
    height: 320px;
}

.pre-wrap {
    white-space: pre-wrap;
}

/* basic layout */
.container {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container.limit-width {
    max-width: 980px;
}
.stretch {
    width: 100%;
}

/* Button */
.btn {
    padding: 0.2em 1.45em;
    margin: 0.1em;
    box-sizing: border-box;
    border: none;
    background-color: #30a4dc;
    cursor: pointer;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.dark {
    background-color: #151515;
    color: #eee;
}

span.badge {
    display: inline-block;
    min-width: 1.5em;
    background-color: #999999;
    color: #fff;
    padding: 0.2em 0.5em;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 0;
    text-transform: none;
    text-align: center;
}
span.badge.accent {
    background-color: #30a4dc;
}
span.badge.okay {
    background-color: #b2cf65;
}
span.badge.warning {
    background-color: #ffc445;
}
span.badge.danger {
    background-color: #f05a67;
}
span.badge.white {
    background-color: #ffffff;
    color: #333;
}
span.badge.white.accent {
    color: #30a4dc;
}
span.badge.white.okay {
    color: #b2cf65;
}
span.badge.white.warning {
    color: #ffc445;
}
span.badge.white.danger {
    color: #f05a67;
}
.dark .tab-group {
    background-color: #000;
}
.dark .tab-group .tab {
    color: #fff;
}
.tab-group {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    overflow: hidden;
}

.tab-group .tab {
    padding: 12px 30px;
    margin-right: 1px;
    position: relative;
}


.actions {
    display: flex;
    flex-direction: row;
}
.actions .action {
    display: flex;
    width: 64px;
    height: 64px;
}
.table {
    display: table;
    width: 100%;
}
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
    padding: 10px;
}
.table-row:hover {
    background-color: #0000C0;
}
span.hidden {
    display: none;
}
.direct-index-items {
    border-spacing: 0 8px;
    width: 100%;
}
.direct-index-items td {
    padding: 4px;
}
.direct-index-header {
    background-color: #646464;
}

.echo-index-items td {
    padding: 4px;
}
.echo-index-item {
    color: #AAAAAA;
}
.echo-index-item-new {
    font-weight: bold;
}
.echo-index-item:hover {
    background-color: #0000AA;
}
.echo-index-item-new:hover {
    background-color: #0000AA;
}
.echo-index-header-count {
    text-align: right;
}
.echo-index-item-count {
    text-align: right;
}
.echo-index-item-count-new {
    text-align: right;
}
.echomail-text {
    background-color: #000000;
    color: #C0C0C0;
}

/*** --- Modern version --- ***/

/* Welcome page (Home) */

.welcome-img {
    margin: 0 auto;
    display: block;
    padding: 64px 0;
}

.welcome-header {
    color: #883;
    text-decoration: underline;
    text-align: center;
    font-size: 26pt;
}

.welcome-version {
    text-align: center;
}

.welcome-contributor-header {
    color: #388;
    text-decoration: underline;
    text-align: center;
    font-size: 23pt;
}

.welcome-contributor-list {
    text-align: center;
}

.welcome-source {
    color: #838;
    text-decoration: underline;
    text-align: center;
    font-size: 23pt;
}

.welcome-donate {
    color: #383;
    text-decoration: underline;
    text-align: center;
    font-size: 23pt;
}

.welcome-source-link {
    display: block;
    text-align: center;
}

/* Echomail area index */

.echo-index-table {
    width: 100%;
}

.echo-index-header {
    background-color: #666666;
}

/* Echomail message index */

.echo-msg-index-table {
    width: 100%;
}

.echo-msg-index-header {
    background-color: #666666;
}

.echo-msg-index-date {
    text-align: right;
    font-size: 12pt;
    white-space: nowrap;
}

.echo-msg-index-item {
    color: #808080;
}

.echo-msg-index-item:hover {
    background-color: #0000AA;
}

.echo-msg-index-item-new {
    font-weight: bold;
}

.echo-msg-index-item-own {
    font-weight: 600;
}

/* Echo message view */

.echo-msg-view-header-wrapper {
    border-top: 2px solid #338;
    border-bottom: 2px solid #338;
    width: 100%;
    padding: 8px 0;
}

.echo-msg-view-header {
    padding-bottom: 4px;
}

.echo-msg-view-header-name {
    color: #888833;
    font-weight: bold;
    text-align: right;
    padding-right: 4px;
}

.echo-msg-view-header-value {
    padding-left: 4px;
}

.echo-msg-view-body-wrapper {

}

.echo-msg-view-body {
    margin-top: 10px;
    flex-shrink: 0;
    flex-grow: 0;
    white-space: pre-wrap;
    font-family: "Courier New", monospace;
    line-height: 1.0;
}

/* Echo message preview */

.echo-msg-dump-preview {
    white-space: pre;
}

/* Netmail index (Netmail) */

.netmail-index-table {
    width: 100%;
}

.netmail-index-header {
    background-color: #666666;
}

.netmail-index-item-new {
    background-color: #3c3c17;
}

/* Netmail message view */

.netmail-msg-view-header-wrapper {
    border-top: 2px solid #833;
    border-bottom: 2px solid #833;
    width: 100%;
    padding: 8px 0;
}

.netmail-msg-view-header {
    padding-bottom: 4px;
}

.netmail-msg-view-header-name {
    color: #883;
    font-weight: bold;
    text-align: right;
    padding-right: 4px;
}

.netmail-msg-view-header-value {
    padding-left: 4px;
}

.netmail-msg-view-body-wrapper {

}

.netmail-msg-view-body {
    margin-top: 10px;
    flex-shrink: 0;
    flex-grow: 0;
    white-space: pre-wrap;
    font-family: "Courier New", monospace;
    line-height: 1.0;
}

/* File index */

.file-index-table {
    width: 100%;
}

.file-index-header {
    background-color: #666666;
}

/* File area index */

.file-area-index-table {
    width: 100%;
}

.file-area-index-item {
    color: #666666;
}

.file-area-index-item-new {
    color: #ffc445;
}

.file-area-index-item-missing {
    color: #f05a67;
}

/* File area view */

.file-area-view-item-new {
    color: #666666;
}

.file-area-view-item-new {
    color: #ffc445;
}

/* Service index */

.service-index-table {
    width: 100%;
}

.service-index-header {
    background-color: #666666;
}

/* Statistics */

.stat-index-table {
    width: 100%;
}

.stat-index-header {
    background-color: #666666;
}

/* Twit index */

.twit-index-table {
    width: 100%;
}

.twit-index-header {
    background-color: #666666;
}

/* Draft index */

.draft-index-table {
    width: 100%;
}

.draft-index-header {
    background-color: #666666;
}
