
.msg-line {
    min-height: 1.2em; /* Соответствует стандартному line-height */
    white-space: pre-wrap;
}

.msg-quote-1 {
    color: #00aaaa;
}

.msg-quote-2 {
    color: #aa00aa;
}

.msg-quote-3 {
    color: #00aa00;
}

.msg-service {
    color: #404040;
}

.msg-plain {
    color: #C0C0C0;
}
