
.rowContainer {
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #AAA;
}

.rowActive {
    background-color: rgb(128, 0, 0);
}

.row:hover {
    background: #000088;
}
