
.rowContainer {
    cursor: pointer;
}

.row:focus {
    outline: none;
    background-color: rgb(255, 0, 0);
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #AAA;
}

.rowActive {
    background-color: rgb(128, 0, 0);
}
