
.Header {
    background-color: var(--color-header-bg);
    color: var(--color-header-text);
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.HeaderGroup {
    display: flex;
    flex-flow: row;
}

.HeaderItem {
    font-weight: 600;
    font-family: monospace;
    font-size: 16pt;
    padding: 0 4px;
}

.HeaderIcon {
    -border: 1px solid yellow;
}

.Header a {
    color: var(--color-header-text);
}

.Header a:hover {
    color: var(--color-header-text);
    opacity: 0.75;
}

.Icon {
    height: 48px;
    width: 48px;
}
